<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337888456493-ouakp4d9bnnhrrm1ialkos3he0096j0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337888456493-ouakp4d9bnnhrrm1ialkos3he0096j0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDlg06AssPoOocLjyf_k_HLuxq4zzxiJhg</string>
	<key>GCM_SENDER_ID</key>
	<string>337888456493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-35230</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-35230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337888456493:ios:e8ecea0c50218237102da4</string>
</dict>
</plist>